
@charset "utf-8";

  /* mv */
    .mv_logo {
        width: 200px;
        height: auto;
    }
    .wrapper_img {
        position: relative;
        margin: 0;
        width: 100%;
        height: 100vh;
    }
    #pixiCanvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;  /* 画面幅 */
        height: 100vh; /* 画面高さ */
        object-fit: cover;  /* アスペクト比を保持しながら画面全体をカバー */
        object-position: center center;  /* 画像の中心を基準に配置 */
    }
    #blackOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        pointer-events: none;
        z-index: 10;
    }
    .mv {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 15;
        margin-top: 100px;
        margin-left: 20px;
    }
    @media (max-width: 768px) {
        .mv {
        margin-left: 30px;
        }
        .mv_logo {
        width: 130px;
        }
    }
    /* メインビジュアルのテキスト部分 */
    .mv-txt_block {
        margin-top: 100px;
        font-family: 'Noto Serif JP';
        color: #FFFFFF;
    }
    .mv-txt {
        padding-bottom: 20px;
        letter-spacing: 0.25rem;
        font-size: 1.20rem;
        text-shadow: 1px 1px 2px black;
    }
    .slideConts{
        opacity: 0;
    }
    .slideText{
    animation: slideAnime 2s ease forwards;
    }
    @keyframes slideAnime {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
    }
    .txt1 {animation-delay: 0.6s;}
    .txt2 {animation-delay: 2.0s;}
    @media(max-width:900px) {
        .mv-txt{
        font-size: 0.85rem;
        }
    }
    /* メインビジュアル右側slickカウントアニメーション */
    /* slider-counterのスタイル */
    .slider-counter {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 20px;  /* 右側に配置 */
    color: #fff;
    font-size: 1.25rem;
    gap: 30px;
    font-family: 'Noto Serif JP';
    z-index: 15;
    font-weight: bold;
    }

    .slider-counter .current {
    margin-right: 5px;
    transition: opacity 0.5s ease-in-out;  /* 数字のアニメーション */
    }

    .line-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-right: 10px;
    gap: 20px;
    height: 80px;
    }

    .line {
    width: 30px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);  /* 初期状態は薄い黒 */
    margin: 3px 0;
    transition: background-color 0.5s ease;  /* ラインの色を変更するアニメーション */
    }
    .line:first-child {
    background-color: white;
    }
    .line.active {
    background-color: white !important;  /* アクティブなラインを白に */
    }
    /* 画面左側スライダー */
    .slider-progress {
    width: 3px;
    height: 70%;
    position: absolute;
    top: 100px;
    left: 50px;
    z-index: 15;
    background: rgba(255, 255, 255, 0.2); /* 背景を薄く */
    overflow: hidden;
    }
    /* .progressのスタイル */
    .progress {
    width: 100%;
    background: #FFFFFF;
    height: 0%;  /* 初期の高さは0% */
    transition: height 0.5s ease-out; /* アニメーションをスムーズに */
    }
    @media(max-width:900px) {
    .slider-progress {
        left: 20px;
    }
    }

    /* event */
    #event {
    padding: 110px 40px;
    }
    .event_block {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    border: 2px solid #3A3A3A;
    border-radius: 20px;
    padding: 80px 30px;
    }
    .event-title {
    position: absolute;
    padding: 0 20px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFFFFF;
    }
    .event-list {
    display: flex;
    justify-content: center;
    /* padding: 0 10px; */
    }
    .event-card  {
    display: flex;
    align-items: flex-end;
    margin: 0 30px;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    object-fit: contain;
    width: auto;
    height: 450px;
    border-radius: 20px;
    }
    .event-card1 {
    background-image: image-set(url("../images/common/event-photo.jpg") 1x, url("../images/common/event-photo@2x.jpg") 2x  );
    background-image: -webkit-image-set(url("../images/common/event-photo.jpg") 1x, url("../images/common/event-photo@2x.jpg") 2x );
    }
    .event-card2 {
    background-image: image-set(url("../images/common/event-photo.jpg") 1x, url("../images/common/event-photo@2x.jpg") 2x );
    background-image: -webkit-image-set(url("../images/common/event-photo.jpg") 1x, url("../images/common/event-photo@2x.jpg") 2x );
    }
    .event-card3 {
    background-image: image-set(url("../images/common/event-photo.jpg") 1x, url("../images/common/event-photo@2x.jpg") 2x );
    background-image: -webkit-image-set(url("../images/common/event-photo.jpg") 1x, url("../images/common/event-photo@2x.jpg") 2x );
    }
    .event-card4 {
    background-image: image-set(url("../images/common/event-photo.jpg") 1x, url("../images/common/event-photo@2x.jpg") 2x );
    background-image: -webkit-image-set(url("../images/common/event-photo.jpg") 1x, url("../images/common/event-photo@2x.jpg") 2x );
    }
    .event-lst_itm {
    display: block;
    padding: 20px 10px 70px 10px;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.01));
    color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    }
    .event-lst_itm span {
    display: block;
    margin-bottom: 20px;
    font-size: 1.35rem;
    font-family: 'Noto Serif JP';
    letter-spacing: 0.25rem;
    }
    .event-lst_itm p {
    display: block;
    margin: 5px 5px;
    }
    .event-card_blk {
    position: relative;
    width: 100%;
    }
    .event-itm_arrow-blk {
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    }
    .event-itm_arrow {
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 15px solid #FFFFFF;
    }
    .event-itm_arrow::before {
    display: block;
    content: '';
    position: absolute;
    /* bottom: 1px; */
    top: -1px;
    left: -40px;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
    /* border: 30px solid #3A3A3A; */
    }
    .event-itm_arrow::after {
    display: block;
    content: '';
    position: absolute;
    top: -15px;
    right: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    }
    .event_list-btn {
    position: absolute;
    padding: 0 90px 0 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -32px;
    background: #FFFFFF;
    color: #3A3A3A;
    font-family: 'Noto Serif Jp';
    font-weight: 400;
    letter-spacing: 0.25rem;
    white-space: nowrap;
    }
    .event_arrow2 {
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 15px solid #3A3A3A;
    left: 170px;
    bottom: 17px;
    }
    .event_arrow2::before {
    display: block;
    content: '';
    position: absolute;
    /* bottom: 1px; */
    top: -1px;
    left: -40px;
    width: 30px;
    height: 2px;
    background: #3A3A3A;
    /* border: 30px solid #3A3A3A; */
    }
    .event_arrow2::after {
    display: block;
    content: '';
    position: absolute;
    top: -15px;
    right: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #3A3A3A;
    border-radius: 50%;
    }
    @media (max-width: 1366px) {
        #event {
        padding: 90px 0;
        }
        .event-title {
        white-space: nowrap;
        top: -30px;
        }
        .event-list {
        flex-direction: column;
        }
        .event-card {
        margin: 30px auto;
        width: 90%;
        height: 300px;
        border-radius: 20px;
        }
        .event-lst_itm {
        padding: 20px 10px 40px 10px;
        }
        .event_list-btn {
        bottom: -28px;
        }
    }

    /* フロアガイド */
    #floor-guide {
        position: relative;
        margin: 110px 0 0 0;
        padding: 110px 0;
        background-image: url("../images/common/guide-bg_photo-pc.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 990px;
    }

    .guide-block_all {
    display: flex;
    justify-content: space-between;
    }

    .floor-guide_left {
    display: flex;
    flex-direction: column;
    }

    .floor-guide_ttl {
    color: #FFFFFF;
    letter-spacing: 0.25rem;
    }

    .guide-block {
    margin: 110px 0;
    font-family: 'Noto Serif Jp', serif;
    color: #FFFFFF;
    line-height: 40px;
    letter-spacing: 0.25rem;
    }

    .guide-map_blk {
    position: absolute;
    bottom: 110px;
    }

    .guide-map {
    display: flex;
    position: relative;
    padding: 8px;
    width: 250px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    color: #FFFFFF;
    text-decoration: none;
    }

    .guide-map p {
    padding: 5px 30px;
    font-family: 'Noto Serif Jp', serif;
    }

    .floor-arrow_block {
    position: absolute;
    bottom: 2px;
    left: 20px;
    }
    .floor-arrow {
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 15px solid #FFFFFF;
    left: 170px;
    bottom: 16px;
    }
    .floor-arrow::before {
    display: block;
    content: '';
    position: absolute;
    /* bottom: 1px; */
    top: -1px;
    left: -40px;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
    /* border: 30px solid #3A3A3A; */
    }
    .floor-arrow::after {
    display: block;
    content: '';
    position: absolute;
    top: -15px;
    right: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    }
    .swiper-container {
    position: absolute;
    bottom: 200px;
    right: 0;
    width: 45vw;
    overflow: hidden;
    }
    .swiper-wrapper {
    display: flex;
    justify-content: flex-start;
    transform: translateX(0);
    overflow: visible;
    max-width: 100%;
    }
    .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    width: 200px;
    height: 270px;
    transition: transform 0.3s ease-out;
    }
    .swiper-slide a {
    width: 100%;
    text-decoration: none;
    }
    .flr-gd_item_block {
    text-align: center;
    font-family: 'Noto Serif Jp', serif;
    font-size: 16px;
    border-radius: 0 0 20px 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.01));
    color: #FFFFFF;
    padding: 10px;
    }
    .swiper-notification {
    /* display: flex; */
    position: absolute;
    bottom: 140px;
    right: 45%;
    z-index: 13 !important;
    }
    .swiper-button {
    position: relative;
    z-index: 20;
    }
    .swiper-button-prev , .swiper-button-next {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        color: #FFFFFF;
        width: 50px;
        height: 50px;
        border: 2px solid #FFFFFF;
        border-radius: 50%;
        pointer-events: auto;
        z-index: 15 !important;
    }
    .swiper-button-prev {
    left: -5px;
    }
    .swiper-button-next {
    left: 80px;
    }
    /* 矢印アイコンのカスタマイズ */
    .swiper-button-prev::after, .swiper-button-next::after {
    font-family: swiper-icons !important; /* ここでアイコンフォントを設定 */
    font-size: 30px !important; /* サイズを調整 */
    color: white !important; /* アイコンの色 */
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    }
    /* --- スクロールバーとページネーションの位置調整 --- */
    .swiper-scrollbar {
    position: absolute;
    bottom: 135px !important;
    left: 70% !important;
    width: 20vw !important;
    height: 4px !important;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    z-index: 13 !important;
    }
    .swiper-scrollbar-drag {
    background: white;
    }
    .swiper-pagination {
    position: absolute;
    bottom: 123px !important; /* スクロールバーと同じ高さ */
    left: 14%;
    color: white;
    font-weight: 100 !important;
    font-size: 1.25rem !important;
    transform: translateX(30%);
    z-index: 13 !important;
    }
    .swiper-pagination .current-slide {
    font-size: 20px;
    font-weight: bold;
    }
    @media(max-width: 900px) {
    #floor-guide {
        height: 1000px;
        padding: 80px 0;
    }
    .guide-block_all {
        justify-content: center;
    }
    .floor-guide_left {
        align-items: center;
    }
    .guide-block {
        margin: 50px 0;
    }
    .guide-map_blk {
        left: 50%;
        transform: translateX(-50%);
        bottom: 80px;
    }
    .swiper-container {
        width: 100%;
        overflow: hidden;
        bottom: 250px;
        right: 0;
    }
    .swiper-notification {
        bottom: 195px;
        left: 10%;
    }
    .swiper-button-next {
        left: 60px;
    }
    .swiper-scrollbar {
        bottom: 192px !important;
        left: 40% !important;
        width: 40vw !important;
        height: 4px !important;
    }
    .swiper-pagination {
        bottom: 180px !important; /* スクロールバーと同じ高さ */
        left: 9%;
    }
    }

    /* === 背景画像をCSSで指定 === */
    .floor1 {
    background-image: url("../images/common/guide-photo01.jpg");
    }

    .floor2 {
    background-image: url("../images/common/guide-photo02.jpg");
    }

    .floor3 {
    background-image: url("../images/common/guide-photo03.jpg");
    }

    .floor4 {
    background-image: url("../images/common/guide-photo04.jpg");
    }

/* news */
#news {
    padding: 110px 40px;
    background: #D6CECC;
}

.news_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 50px;
    border: 2px solid #3A3A3A;
    border-radius: 20px;
}

.news_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news_list {
    width: 60%;
}

.news_list-btn {
    display: block;
    padding: 10px 10px 0 40px;
    width: 250px;
    border-radius: 50px;
    background: #5F4239;
    color: #fff;
    font-family: 'Noto Serif Jp';
    letter-spacing: 0.25rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.news_list-item {
    display: flex;
    margin: 10px 0;
    padding: 20px 10px;
    background: #D6CECC;
    border-radius: 20px;
}

.news-border {
    display: block;
    background: #3A3A3A;
    width: auto;
    height: 2px;
}

.news_list-item-block-inner {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}

.news_list-item img {
    margin-right: 50px;
    border-radius: 20px;
    width: 170px;
    height: 110px;
}

.news_item-block {
    display: flex;
}

.news_list-item-block time {
    letter-spacing: 0.25rem;
}

.news_list-item-block span {
    display: block;
    margin-left: 50px;
    padding: 5px 30px;
    background: #5F4239;
    color: #fff;
    border-radius: 20px;
    letter-spacing: 0.25rem;
}

.news_list-item-block p {
    margin-top: 30px;
    letter-spacing: 0.25rem;
}

.news-list-btn-blk {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.news_arrow-block {
    display: flex;
    top: 50px;
    right: -10px;
    align-items: center;
    /* justify-content: flex-end; */
}

.news_arrow1 {
    display: flex;
    position: relative;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 15px solid #FFFFFF;
    left: 170px;
    bottom: 16px;
}

.news_arrow1::before {
    display: block;
    content: '';
    position: absolute;
    top: -1px;
    left: -40px;
    width: 30px;
    height: 2px;
    background: #FFFFFF;
}

.news_arrow1::after {
    display: block;
    content: '';
    position: absolute;
    top: -15px;
    right: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.news_arrow2 {
    position: relative;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 15px solid #3A3A3A;
}

.news_arrow2::before {
    display: block;
    content: '';
    position: absolute;
    top: -1px;
    left: -40px;
    width: 30px;
    height: 2px;
    background: #3A3A3A;
}

.news_arrow2::after {
    display: block;
    content: '';
    position: absolute;
    top: -15px;
    right: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #3A3A3A;
    border-radius: 50%;
}

@media(max-width:1284px) {
    #news {
        padding: 80px 0;
    }

    .news_block {
        align-items: center;
    }

    .news_container {
        flex-direction: column;
        justify-content: center;
        padding: 50px 10px 150px 10px;
    }

    .news_list {
        width: 100%;
    }

    .news_list-item-block-inner {
        width: 90%;
    }

    .news_list-item {
        flex-direction: column;
        align-items: center;
        font-size: 0.85rem;
    }

    .news_arrow-block {
        align-items: flex-end;
        margin-top: 70px;
    }

    .news_list-item-block span {
        margin-left: 30px;
        white-space: nowrap;
    }

    .news_list-item img {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .news-list-btn-blk {
        left: 50%;
        transform: translateX(-50%);
    }

    .news_list-item-block p {
        margin-top: 10px;
    }
}

/* Safari対応: ベンダープレフィックス */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.news_list-btn {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@supports (-webkit-appearance:none) {
    /* Safari向けの特定のスタイル */
    .news_arrow1, .news_arrow2 {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
}
